<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- API requests -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="dist/index.js" />
        </rule>

        <!-- Node.js server handler -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dist/index.js\/debug[\/]?" />
        </rule>

        <!-- Static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(public)(.*)$" ignoreCase="true" />
          <action type="Rewrite" url="{REQUEST_URI}" />
        </rule>

        <!-- All requests - handle with the Node app -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode 
      nodeProcessCommandLine="node --experimental-modules --max-old-space-size=4096"
      watchedFiles="*.js;iisnode.yml" 
      loggingEnabled="true"
      debuggingEnabled="true"
      debuggerPathSegment="debug"
      logDirectory="iisnode" />
  </system.webServer>
</configuration>