<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- API requests -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="index.js" />
        </rule>

        <!-- Static files in client directory -->
        <rule name="StaticContent">
          <match url="^(client/.*|assets/.*|index\.html)$" />
          <action type="Rewrite" url="{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>

        <!-- All other requests go to our Node.js app -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode 
      nodeProcessCommandLine="node --max-old-space-size=4096"
      watchedFiles="*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
      debuggingEnabled="false"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536" />
  </system.webServer>
</configuration>